<h1><%= @user.first_name %>'s Dashboard</h1>
<br>
<h4>My NGO: <%= @user.portfolios.last.ngo.name %></h4>
<h6>Impact: <%= @user.portfolios.last.ngo.impact %></h6>
<h4>Recent Donations to <%= @user.portfolios.last.ngo.name %></h4>
<ul>
  <% @user.portfolios.last.transactions.each do |transaction|  %>
    <% unless stripe_response.nil?  %>
      <% stripe_response = ActiveSupport::JSON.decode(transaction.stripe_response) %>
    <% end %>
    <li>Payment Date: <%= transaction.created_at %></li>
    <li>Status: <%= transaction.status %></li>
    <li>Amount: <%= stripe_response["amount"]/100 %></li>
    <li>Card Number: <%= stripe_response["last4"] %></li>
  <% end %>
</ul>
<br>
<br>
<br>
<br>
<br>
<h3>*** Stripe Response Data (pick what you need) ***</h3>
<%= ActiveSupport::JSON.decode(@user.portfolios.last.transactions.last.stripe_response)%>
<!-- ActiveSupport::JSON.decode(Transaction.last.stripe_response)["description"] -->