<div class="container">
  <!-- Header -->
  <div class=row>
    <div class="col-12">
  <div class="card-dashboard">
    <h1 class="show-title" id="dash-header">Hey <%= current_user.first_name %>,</h1>
  </div>

    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div id="chart-activity">
        <div class="card-chart" id="card-chart">
          <h4>This is your NGO portfolio</h4>
          <%= area_chart [
           { name: "Donation",data: @transaction_chart_data } ], color: 'green', xtitle: "Donation", ytitle: "Date"  %>
         </div>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="card-impact">
            <h2 class="number-card"><%= (@impact * (@transaction_total/100)).round %>
            </h2>
            <p class="three-step"><%= current_user.portfolios.last.ngo.impact_description %></p>
          </div>
        </div>

        <div class="col-6">
          <div class="card-impact">
            <h2 class="number-card-two">$ <%= @transaction_total/100.round %></h2>
            <p class="three-step">Total donation that you already give</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card-activity">
        <h4 id="activity-title">Monthly Activity</h4>
        <ul>
          <% @transactions.reverse_each do |t| %>
            <li>
              <%= t.transaction_date %>
              <p>You are donating $ <strong> <%= t.amount %></strong>
            to <%= current_user.portfolios.last.ngo.name %>,
            status: <%= t.status %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <br>
    <h4 class="second-text">NGO that you supported:</h4>

<div class="row">
  <div class="col-4">
      <div class="card-trip">
        <%= link_to ngo_path(current_user.portfolios.last.ngo) do  %>
        <div class="card-trip-image">
          <%= image_tag current_user.portfolios.last.ngo.photo %>
        </div>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="second-text"><%= current_user.portfolios.last.ngo.name %></h2>
            <p><%= truncate current_user.portfolios.last.ngo.description, length: 50 %></p>

          </div>
        </div>
      </div>
  </div>

  <div class="col-4">
      <div class="card-impact">
        <h2 class="number-card"><%= link_to '+', ngos_path %></h2>
        <p class="three-step">Add more NGO to your portfolio</p>
      </div>
      <div class="card-impact">
        <div class="social-card">
          <%= social_share_button_tag([current_user.portfolios.last.ngo.photo, current_user.portfolios.last.ngo.name, current_user.portfolios.last.ngo.description], :allow_sites => %w(twitter facebook whatsapp_web email)) %>
        </div>
      </div>

  </div>
</div>

</div>




<!-- <h4>My NGO: <%#= current_user.portfolios.last.ngo.name %></h4>
<h6>Impact: <%#= current_user.portfolios.last.ngo.impact %></h6>
<h4>Recent Donations to <%#= current_user.portfolios.last.ngo.name %></h4>
<ul>
  <%# current_user.portfolios.last.transactions.each do |transaction|  %>
  <%# unless transaction.stripe_response.nil?  %>
  <%# stripe_response = ActiveSupport::JSON.decode(transaction.stripe_response) %>
  <%# end %>
  <li>Payment Date: <%#= transaction.created_at %></li>
  <li>Status: <%#= transaction.status %></li>
  <li>Amount: <%#= stripe_response["amount"]/100 %></li>
  <li>Card Number: <%#= stripe_response["last4"] %></li>
  <#% end %>
</ul>
 -->
<!-- <br>
<br>
<br>
<br>
<br>
<h3>*** Stripe Response Data (pick what you need) ***</h3>
<#%= ActiveSupport::JSON.decode(current_user.portfolios.last.transactions.last.stripe_response)%>
ActiveSupport::JSON.decode(Transaction.last.stripe_response)["description"]
</div>
 -->

    <!-- <div class="card-landing"> -->

    </div>
  <!-- </div> -->


