
<div class="profile-container">

<h1>Hi <%= @user.first_name %>!</h1>
<ul>
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li><%= link_to "Change your NGO", ngos_path %></li>
  <li><%= link_to "Edit Linked Bank/Credit Card Account", '#'%></li>
  <li><%= link_to "Edit Payment Information", '#'%></li>
  <li><%= link_to "View Dashboard", dashboard_path %></li>
</ul>

</div>
