<div class="modal fade" id="ngo_modal_<%= ngo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div class="card-large">
          <div class="card-large-image">
            <%= image_tag ngo.photo %>
          </div>

          <h1 class="show-title"><%= ngo.name %></h1>
          <p class="ngo_description"><%= ngo.description %></p>
          <h5 class="impact-title"><strong>Impact:</strong> <%= ngo.impact_description %></h5>
          <div class="modal-form">
          <%= simple_form_for [ngo, portfolio] do |f|%>
            <div class="button-show">
              <%= f.submit class: "button-primary btn-lg show-button" %>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
