<div class="modal fade" id="ngo_modal_<%= ngo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 800px">
    <div class="modal-content">
      <div class="modal-header text-center">
  <div class="card-large">
    <div class="card-large-image">
      <%= image_tag ngo.photo %>
    </div>

    <h1 class="show-title"><%= ngo.name %></h1>
    <p><%= ngo.description %></p>
    <p>Impact: <%= ngo.impact %></p>
   <%= simple_form_for [ngo, portfolio] do |f|%>
      <div class="button-show">
        <%= f.submit class: "button-primary show-button" %>
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          Back
        </button>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>

