  <div class="container">
    <div class="jumbotron-three">

      <h1 class="show-title" align="center">Choose an NGO that you love</h1>

      <div class="card-landing">
        <div class="row justify-content-center">
          <% @ngos.each do |ngo| %>
          <div class="col-md-6">
            <%= link_to ngo_path(ngo), class: "ngo_modal_link", data: { toggle: "modal", target: "#ngo_modal_#{ngo.id}" } do  %>
              <div class="card-trip card-home">
                <div class="card-trip-image">
                  <%= image_tag ngo.photo %>
                </div>

                <div class="card-trip-infos">
                  <h2 class="second-text"><%= ngo.name %></h2>
                  <p id="index-ngos" class="d-none d-lg-block"><%= truncate ngo.description, length: 150 %></p>
                </div>
              </div>
            <% end %>
            <%= render 'modal_ngo_show', ngo: ngo, portfolio: Portfolio.new %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
