<div class="container con-show">
  <div class="card-large">
    <div class="card-large-image">
      <%= image_tag @ngo.photo %>
    </div>
    <h1 class="show-title"><%= @ngo.name %></h1>
    <p><%= @ngo.description %></p>
    <p>Impact: <%= @ngo.impact %></p>
    <%= simple_form_for [@ngo, @portfolio] do |f|%>
      <div class="button-show">
        <%= f.submit class: "button-primary show-button" %>
        <br>
        <%= link_to "Back", root_path %>
      <% end %>
    </div>
  </div>
</div>