
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title ">Welcome back!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% resource = User.new %>
      <%= simple_form_for(resource, as: :user, url: session_path(:user)) do |f| %>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="md-form mb-5">
          <%= f.input :password, required: true %>
        </div>
        <div class="md-form mb-4">
          <%= f.input :remember_me, as: :boolean %>
        </div>
        <div class="md-form mb-4 link_text ">
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      <div class="modal-footer d-flex justify-content-center">
        <ul class="ul-buttons">
          <li class="form-actions">
          <%= f.button :submit, "Log in", class: "submit-form-button-primary button-primary:hover link_text" %>
          </li>
          <li class="form-actions">
          <%= link_to new_user_registration_path, class: "submit-form-button-primary button-primary:hover link_text", style: "color:white;" do %>
           <p style="padding: 13px;">Sign up</p>
           <% end %>
          </li>
      </div>
<% end %>
</div>
      </div>
    </div>
  </div>
