<div class="footer">
  <div class="footer-copyright">
    Made with 🕊 in Lisbon |
    <%= mail_to 'hello@olive.gives' %>
    <br>
    <br>
   <%= link_to "https://www.linkedin.com/company/olive-gives", target: 'blank' do %>
   <%= fa_icon "linkedin 2x"  %>
   <% end %>
   <%= link_to "https://www.facebook.com/olivegives", target: 'blank' do %>
   <%= fa_icon "facebook 2x", target: 'blank' %>
   <% end %>
   <%= link_to "https://twitter.com/olivegives", target: 'blank' do %>
   <%= fa_icon "twitter 2x", target: 'blank' %>
   <% end %>
   <%= link_to "https://www.instagram.com/olivegives", target: 'blank' do %>
   <%= fa_icon "instagram 2x" %>
   <% end %>
</div>
