<div class="footer">
  <div class="footer-copyright">

    <%= mail_to 'hello@olive.gives' %>
    <br>
   <%= link_to "https://www.linkedin.com/company/olive-gives", target: 'blank' do %>
   <%= fa_icon "linkedin"  %>
   <% end %>
   <%= link_to "https://www.facebook.com/olivegives", target: 'blank' do %>
   <%= fa_icon "facebook", target: 'blank' %>
   <% end %>
   <%= link_to "https://twitter.com/olivegives", target: 'blank' do %>
   <%= fa_icon "twitter", target: 'blank' %>
   <% end %>
   <%= link_to "https://www.instagram.com/olivegives", target: 'blank' do %>
   <%= fa_icon "instagram" %>
   <% end %>
</div>
