<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div>

  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo_small.png", style: "width:145px; margin-top: 10px; margin-left: 20px;" %>
  <% end %>
  </div>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class=" nav-item dropdown">
            <div class="btn-group">

      <div class="nav-item active">
                <%= link_to "NGOs", ngos_path, class: "dropdown-item dropdown_style" %>
                </div>
                <div class="nav-item active">
                 <%= link_to "Dashboard", dashboard_path, class: "dropdown-item dropdown_style" %>
                </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <div class=" nav-item dropdown">
            <div class="btn-group" style="margin-right:20px; margin-left:20px;">
              <button type="button" class="button-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </button>
            <div class=" dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <div class="nav-item active">
            <%= link_to "Profile", profile_path, class: " dropdown-item dropdown_style" %>
              </div>
              <div class=" dropdown-item dropdown_style">
            <%= link_to "About us", "#", class: "dropdown-item dropdown_style" %>
              </div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item dropdown_style" %>
          </div>
        </div>
      </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item dropdown_style" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
         </div>
        </ul>
  </div>
</div>



