<!--  Jumbotron -->

<div class="jumbotron" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div id="hero-1"></div>
        <h4 class="textid">With $ 10 <span id="type"></span></h4>
        <br>
        <h1 id="header-text"><strong>Donate</strong> your digital <br>spare change</h1>
        <h3 id="secondary-text">We help you round up and donate and your spare change
          <br>
          so you can make an <strong class="strong-head">impact seamlessly </strong></h3>
          <div class="mt-16">
            <br>
            <%= link_to 'Get started', ngos_path, class: "button-cta btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  How does it works area -->
<div class="jumbotron-two" id="hero-2">
  <div class="container">
    <div class="row">
      <div class="user-ex">
        <div class="col-sm avatar-frame">

          <%= image_tag 'aman.png', class: "avatar-large" %>

        </div>
        <div class="col-sm">
          <h2 id="meetaman">Meet Aman</h2>
          <p id="secondary-text">He just used his credit card to <strong class="strong-head">buy a coffee for $2.75</strong>.
            <br>
            <br>
            But what happened to <strong class="strong-head">the other $0.25</strong>, or what we call his “digital spare change”? What if he could put his change to use?
            <br>
            <br>
            Meet Olive, the app that helps Aman round up his digital spare change and donate to a charity of his choosing, automatically.
            <br>
            <br>
            Now Aman knows that every time he buys a coffee, he’s <strong class="strong-head">making an impact everyday.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="how-does">
      <h2 align=center class="second-text">How does it work?</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card-category card-steps">
            <h2 class="number-card">1</h2>
            <p class="three-step">Choose an NGO that you love ♥️
              <br>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-category card-steps">
            <h2 class="number-card">2</h2>
            <p class="three-step">Link you bank or credit card and let us round up your transactions </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-category card-steps">
            <h2 class="number-card">3</h2>
            <p class="three-step">Automatically donate your digital spare change every month!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Easypeasy area -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="easypeasy" align="center">
        <h2 id="easypeasy" align=center class="second-text">Easy Peasy</h2>
        <p align=center class="third-text">Now you can make an impact monthly</p>
        <%= link_to 'Get started', ngos_path, class: "button-primary btn-lg" %>
      </div>


      <!--  NGO area -->
      <div class="ngo-landingpage" align="center">
        <h2 id="ngo-list" align=center class="second-text">Choose from Verified Non-Profits</h2>
      </div>
    </div>
  </div>
</div>

<!--  card area -->

<div class="jumbotron-three" id="hero-3">
  <div class="container">
    <div class="row justify-content-between">
      <% @ngos.each do |ngo| %>
      <div class="col-md-6">
        <%= link_to ngo_path(ngo), data: { toggle: "modal", target: "#ngo_modal_#{ngo.id}" } do  %>
        <div class="card-trip card-home">
          <div class="card-trip-image">
            <%= image_tag ngo.photo %>
          </div>
          <div class="card-trip-infos">
            <div>
              <h2 class="second-text"><%= ngo.name %></h2>

              <div class="d-none d-lg-block">
                <p><%= truncate ngo.description, length: 100 %></p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= render 'ngos/modal_ngo_show', ngo: ngo, portfolio: Portfolio.new %>
      <% end %>

    </div>
  </div>
</div>

