<h3>Testing</h3>
<p>access_token: <%= @access_token %></p>
<p>Total Transactions: <%= @transaction_response.transactions.count %></p>
<p>Total Spend <%= @total_spend %></p>
<p>Total Round Up <%= @total_round_up %></p>
<ul>
  <%@transaction_response.transactions.each do |t| %>
    <li> <%= t.name %>
      <ul>
        <li>Date: <%= t.date  %></li>
        <% amount = BigDecimal.new(t.amount.to_s) %>
        <li>Amount: <%= amount  %></li>
        <% up = amount.ceil  %>
        <% round_up = up - amount %>
        <li>Round UP: <%= round_up  %></li>
      </ul>
    </li>
  <% end %>
</ul>
<!-- #<Plaid::Models::Transaction account_id="PpzwXEADAkuJ6wJAmWWyhxybPV3BJVi7l43Rw" amount=5850 category=["Transfer", "Debit"] category_id="21006000" date="2019-05-20" iso_currency_code="USD" location=#<Plaid::Models::TransactionLocation> name="ACH Electronic CreditGUSTO PAY 123456" payment_meta=#<Plaid::Models::TransactionPaymentMeta payment_method="ACH"> pending=false transaction_id="GPZmBk6D6nfNnxNwp44duwzxmk6EyPc1a8K3R" transaction_type="special"> -->