<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="third-text" align="center" id="link-title">Your Account has been Linked!</h1>
      <p align="center" class="second-text" id="link-p">We calculate your digital sparechange based on your monthly transaction</p>
    </div>
  </div>
  <!--   <h3>Last 30 days of Transactions</h3> -->

  <!-- box transaction -->
  <div id="transaction-link">
    <div class="row">
      <div class="col-12" id="card-spend-trans">
        <div class="card-trasactions" id="second-impact">
          <p class="three-step" id="total-transactions">Total Transactions </p>
          <h2 class="number-card" id="number-transaction"><%= @transaction_response.transactions.count %></h2>
        </div>
        <div class="card-spend" id="second-impact">
          <p id="total-spend">Total Spend </p>
          <h2 class="number-card">$ <%= @total_spend %></h2>
        </div>

      </div>
    </div>
  </div>

  <!-- total round up -->
  <div class="card-donation">
    <div class="donation">

      <p id="total-spend">Total Round-up </p>
      <h2 class="number-card">$ <%= @total_round_up %></h2>
    </div>
    <%= simple_form_for @transaction, url: round_ups_path, method: :post do |f| %>
    <%= f.hidden_field :amount, value: @total_round_up %>
    <%= f.submit "Donate your digital sparechange", class: "button-primary", id:"submit-link"%>
    <%= link_to "Back", root_path, class:"Back" %>
    <% end %>
  </div>



  <h5 align="center">Transactions</h5>
  <br>

  <ul>
    <%@transaction_response.transactions.each do |t| %>
    <li> <%= t.name %>
      <ul>
        <li>Date: <%= t.date  %></li>
        <% amount = BigDecimal.new(t.amount.to_s) %>
        <li>Amount: <%= amount  %></li>
        <% up = amount.ceil  %>
        <% round_up = up - amount %>
        <li>Round Up: <%= round_up  %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
<!-- #<Plaid::Models::Transaction account_id="PpzwXEADAkuJ6wJAmWWyhxybPV3BJVi7l43Rw" amount=5850 category=["Transfer", "Debit"] category_id="21006000" date="2019-05-20" iso_currency_code="USD" location=#<Plaid::Models::TransactionLocation> name="ACH Electronic CreditGUSTO PAY 123456" payment_meta=#<Plaid::Models::TransactionPaymentMeta payment_method="ACH"> pending=false transaction_id="GPZmBk6D6nfNnxNwp44duwzxmk6EyPc1a8K3R" transaction_type="special"> -->

