<div class="result-body">
  <div class="container">
    <div class=row>
      <div class="col-12">
        <h1 class="show-title" >Your account has been linked!</h1>
        <h4 id="activity-title">We ran the numbers on your last 30 days of transactions</h4>
      </div>
    </div>
    <div class="result-grid">
      <div class="card-impact" id="t_count">
        <h2 class="number-card"><%= @transaction_response.transactions.count %>
        </h2>
        <p>Total Transactions</p>
      </div>
      <div class="card-impact" id="t_sum">
        <h2 class="number-card">$<%= money_without_cents(@total_spend) %>
        </h2>
        <p>Total Spend</p>
      </div>
      <div class="card-impact" id="t_round">
        <h2 class="number-card">$<%= humanized_money(@total_round_up) %>
        </h2>
        <p>Your Digital Change</p>
      </div>
      <div class="card-activity" id="donate">
        <h2 id="activity-title">Donate your Monthly Spare Change
        </h2>
        <div id="flex_desc">
        <p>We did the math. Rounding up your spare change for charity can have a big impact on society. Help support your favorite NGO by subscribing now!</p>
        <%= simple_form_for @transaction, url: round_ups_path, id: "donate_field", method: :post do |f| %>
          <%= f.hidden_field :amount, value: @total_round_up %>
          <%= f.submit "Subscribe", class: "button-primary btn-lg ", id:"submit-link"%>
        <% end %>
        </div>
      </div>
      <div class="card-activity" id="t_hist">
        <h4 id="activity-title">Recent Transactions</h4>
        <ul>
    <%@transaction_response.transactions[0..4].each do |t| %>
    <li>
      <% amount = BigDecimal.new(t.amount.to_s) %>
      <% up = amount.ceil  %>
      <% round_up = up - amount %>

      <strong><%= t.name %></strong>
      <p>Date: <%= t.date  %></p>
      <p>Amount: $<%= humanized_money(amount)  %></p>
      <p>Digital Change: $<%= humanized_money(round_up)  %></p>
    </li>
    <br>
    <% end %>
  </ul>
      </div>
    </div>
  </div>
</div>
