

<div class="container" id="payment-con">

<!-- title -->
<h1 class="show-title" align="center" >Setup Payment</h1>
<h5 class="third-text" align="center" >Enter your card details to set up reoccuring monthly payments and make your first donation to <strong><%= @transaction.portfolio.ngo.name %></strong></h5>


<!-- payment & button -->
<div class="amount-button" align="center">

<%= form_tag payments_path do %>
  <article>
    <label class="amount" id="amount-donation">
      <span>Initial Donation: <%= humanized_money_with_symbol(@transaction.amount) %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Donation"
    data-email="<%= current_user.email %>"
    data-description="Donation to <%= @transaction.portfolio.ngo.name %>"
    data-amount="<%= @transaction.amount_cents %>"
    data-currency="<%= @transaction.amount.currency %>"
    ></script>
<% end %>
</div>
</div>









