<div class="container" id="con-page">

<h1 align="center" class="third-text">Congratulations on your First Donation!</h1>
<div class="d-flex justify-content-center">
<div class="card-impact" id="receipt">

  <p>Recipient: <%= @transaction.portfolio.ngo.name %></p>
  <p>Amount: <%= humanized_money_with_symbol(@transaction.amount) %></p>
  <p>Status: <%= @transaction.status.capitalize %></p>
  <% stripe_response = ActiveSupport::JSON.decode(@transaction.stripe_response) %>
  <p><%= link_to "Receipt", stripe_response["receipt_url"], target: :_blank %></p>
</div>
</div>
<%= link_to "Go to Dashboard", dashboard_path, class:"button-primary btn-lg", id: "button-con"%>
</div>
