<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Olive - Round up your digital spare change for charity</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if user_signed_in? %>
      <% if content_for? :dashboard %>
        <%= content_for :dashboard %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
    <% else %>
      <%= render 'shared/navbarnew' %>
      <%= render 'shared/devise_modal' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="container-fluid container-no-padding">
      <%= yield %>
    </div>

<%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

</html>


