<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Olive - Round up your digital spare change for charity</title>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <script type="text/javascript" data-cfasync="false">
    (function(W,i,s,e,P,o,p){W['WisePopsObject']=P;W[P]=W[P]||function(){
      (W[P].q=W[P].q||[]).push(arguments)},W[P].l=1*new Date();o=i.createElement(s),
      p=i.getElementsByTagName(s)[0];o.async=1;o.src=e;p.parentNode.insertBefore(o,p)
    })(window,document,'script','//loader.wisepops.com/get-loader.js?v=1&site=BvbACCiSE7','wisepops');
  </script>

</head>
<body>
  <% if user_signed_in? %>
  <% if content_for? :dashboard %>
  <%= content_for :dashboard %>
  <% else %>
  <%= render 'shared/navbar' %>
  <% end %>
  <% else %>
  <%= render 'shared/navbarnew' %>
  <%= render 'shared/devise_modal' %>
  <% end %>
  <%= render 'shared/flashes' %>
  <div class="container-fluid container-no-padding">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>


